#root {
  /* background-color: rgb(185, 137, 137);
  background-image: url('https://wallpaperaccess.com/full/1816370.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
  opacity: 75%;
  

}

.landing__header {
  color: white;
  text-align: center;
  font-size: 30px;
}

.landing__container {
  width: 85%;
  padding-top: 2rem;
  margin-left: 250px;
  margin-right: 0px;
  display: grid;
  grid-template-columns: 2fr 1fr;


}

.posts__feed {
  display: grid;
  width: 100%;
  margin-right: 4rem;
  justify-content: center;
  /* mix-blend-mode: ; */
  
  bottom: 0px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.sss{
  color: white;
  position: fixed;
  top: 150px;
  right: 200px;
  border-radius: 10px;
  width: 350px;
  height: 350px;
  background-color: rgba(255, 255, 255, 0.445);
}

.sss span {
  position:fixed;
  margin: 10px;
  margin-top: -33px;
  opacity: 70%;

}

.ppp {
  display: flex;
  margin-top:10px;  
}

.pp {
  margin-left: 10px;
}

.pp img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pp:hover {
  opacity: 50%;
}

