/* TODO Add site wide styles */
body {
  font-size: 16px;
  font-size: 1.6rem;
  
}
* {
    margin: 0;
    padding: 0;

}
* button {
    border: none;
    background: none;
}

.app__body {
  display: flex;
  height: calc(100vh);
  /* background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 56%, rgba(255,255,255,1) 100%); */
  /* background-image: url('https://cdn.discordapp.com/attachments/537497024958824480/824580397966295070/unknown.png'); */
  /* background-image: linear-gradient(to right, rgba(255, 0, 0, 0) , yellow); */
  background-size: cover;
  
/*   
  overflow-x: hidden; */

  z-index: 0;
}

.app__main {

  width: 90%;


  overflow-y: scroll;



}

/* scroll bar */
::-webkit-scrollbar {
  width: 0;  
  background: transparent;  
}