.sidenav {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 160px;
  margin-top: 60px;
  margin-left: 100px;
  color: white
}

/* logo */
.sidenav__logo {
  font-family: "proxima-nova", sans-serif;
  font-size: 18px;
  margin-bottom: 60px;
  color: rgb(255, 255, 255);
}

.sidenav__logo img {
  height: 80px;
  
}

/* links */
.sidenav__icons {
  width: 20px;
  margin-right: 5px;

}

.sidenav__links {
  font-family:'Righteous', Courier, monospace;
  
  color: #fcf7f5;
  padding-left: 2px;
  margin-bottom: 18px;

}

.sidenav__links:hover {
  color: #222;
}

.sidenav__links--active {
  color: #222;
}


/* logout */
.sidenav__logout-icon {
  margin-right: 5px;
}

.sidenav__logout {
  position: absolute;
  font-size: 18px;
  top: 220px;
  width: 100px;
  text-align: left;
  cursor: pointer;
  background-color: transparent;
  color: white
} 

.sidenav__logout-text {
  font-family: 'Righteous', Courier, monospace;
  font-size: 16px;

}

.sidenav__logout:hover {
  color: #fce7e7;
}

.aaa1{
  position: absolute;
  bottom: 20px;
}

.aaa2{
  position: absolute;
  top: 100px;color: white
}
.aaa3{
  position: absolute;
  top: 140px;color: white
}
.aaa4{
  position: absolute;
  top: 180px;color: white
}
.aaaa{
  
}