.HeaderMain {
    display: flex;
    margin-left: 55px;
    margin-top: 50px;
}
.HeaderMain .pfp {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border-radius: 50%;
    border: 1px solid black;
}
.pfp img {


}

.HeaderMain .userHandle {
    margin-left: 10rem;
}
.HeaderMain .metrics {
    position: absolute;
    margin-top: 5rem;
    margin-left: 25.2rem;
}
.HeaderMain .s {
    margin-right: 24px;
}
.HeaderMain i {
    position: absolute;
    margin-left: 120px;
}
.HeaderMain h4 {
    position: absolute;
    margin-top: 50px;
    margin-left: -54px;
}
.HeaderMain p {
    position: absolute;
    margin-left: -54px;
    margin-top: 55px;
}

.HeaderMain span {
  position: relative;
  margin-left: 24px;
  margin-top: 22px;
}

.HeaderMain p span {
  font-size: 22px;

}