

.card {
  background-color: white;
  margin: 20px;
  
  width: 550px;
  height: auto;
  border-radius: 10px;

  margin: 5px;
  margin-top: 10px;
  margin-bottom: 30px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card__desc {
  height: auto;
  padding: 12px;
  width: auto;

  margin: 10px;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: bold;
  color:rgb(83, 83, 83);

  display: flex;
  justify-content: space-between;
}

.card__footer {
  padding: 2px;
  text-align: right;
  margin-right: 25px;
  font-size: 15px;
  color: rgb(168, 167, 167);
}

.card__comments {
  margin-top: 5px;
  margin-left: 20px;
}

.card__commentform {
  
}

.card__icon {
  margin-left: 15px;
  margin-top: 5px;

  position: relative;
}

.card__icon img {
  height: 40px;
}

.card__likes {
  height: 20px;
  position: absolute;
  text-align: center;
  top: 62px;
  left: 65px;
  transform: translate(-50px, -50px);
  color: rgb(0, 0, 0);
  font-size: 14px;
  pointer-events: none;
}

.critique_name {
  color: rgba(55, 55, 255, 0.527);
}

.card__icon:hover {
  opacity: 50%;
}